form{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* border: 2px solid; */
    height: 40vh;
    
    
}

form::before{
    content:"";
    position: absolute; 
    height: 50%;
    width: 29rem;
    z-index: -1;
    background: url(../../public/images/iit-roorkee-logo.png) no-repeat center center/cover;
    opacity: 0.4;


}

form input {
    width: 80%;
    text-align: center;
    padding: 2px; 
    margin: 4px;
    border-radius: 58px;
    border: 1px solid grey;
    height: 1.6rem;
}

.btnbox{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}   

.btn{
    background-color: #1f1f1f;
    color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 11px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    transition: all 0.1s ease-in-out;
}
.btn:hover{
    /* transform: scale(1.01); */
    box-shadow: 0 0 8px #888;
}

.btn:active{
    transform: scale(0.95);
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}

form{
    text-shadow: 0 0 8px rgb(164, 164, 164);
}