.navContainer{
    display:flex;
    padding: 8px;
    justify-content: space-between;
    box-shadow: 0 2px #cbcbcb;

}

.navContainer .iitrlogo{

    height: 60px;
    width: 60px;
    background: url('../../public/images/iit-roorkee-logo.png') no-repeat center center/cover;
    justify-self: flex-end;
}

.navContainer .logo{
    background: url('../../public/images/student.png') no-repeat center center/cover;
    height: 60px;
    width: 60px;
    /* border: 2px solid red; */
}

.left{  
    display: flex;
    /* border: 2px solid red; */
    width: 15rem;
    justify-content: space-between;
    align-items: center;
}

.rush{
    color: red;
}   

.navContainer .name{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}   

.line{
    height: 100%;
    border: 1px solid rgb(230, 228, 228)
}